{{define "crear"}}
{{template "cabecera"}}
<div class="card">
    <div class="card-header">    Medicamentos      </div>
    <div class="card-body">
        <form method = "post" action="/insertar">
        <div class="form-group">
          <label for="">nombre :</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">nombre medicamento</small>
        </div>
        <div class="form-group">
          <label for="">precio :</label>
          <input type="double"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">nombre medicamento</small>
        </div>
        <div class="form-group">
          <label for="">ubicacion :</label>
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
          <small id="helpId" class="form-text text-muted">nombre medicamento</small>
        </div>

        <button type="submit" class="btn btn-primary">Agregar Medicamento</button>

        </form>
    </div>
</div>

{{template "pie"}}
{{end}}